.third-block {
    padding: 200px;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.changing-words {
    color: rgb(52, 50, 50);
}

.show {
    transition-duration: 3s;
    transition-delay: 1s;
    color:white;
}
